@page "/Products/{Category}"
@using Website.Api
@using Website.Services
 
@if(Model==null)
{
    <div><em>Loading...</em></div>
}
else
{
    <div class="col-10  p-0 m-0 d-flex flex-wrap justify-content-center" id="products">
    @foreach (var product in Model)
    {
        <a href="/Product/@product["Category"]/@product["ProductId"]">
            <div class="col-lg-10 col-8 shadow-sm rounded m-2" style="height: 400px; width: 450px;">
                <div class="col-12 p-0 m-1">
                    <img src="@product["ProductImg"]" width="230" height="200" alt="ProductImg" />
                </div>
                <div class="col-12 text p-0 m-0">
                    <h6>@product["Name"]</h6>
                </div>
                <div class="col-12 text mt-3 p-0 m-0 text-left text-black-50">
                    @{
                    var info = ProductInfoExtractorService.ExtractBasicInfo(product, product["Category"].ToString());
                    foreach (var kv in info)
                    {
                        <span class="d-block text"><b>@kv.Key:</b> @kv.Value</span>
                    }
                }
                </div>
                <div class="col-12 text-center mt-4 m-1">
                    <h4>@product["Price"] zl</h4>
                </div>
            </div>
        </a>
    }
</div>
}